<!DOCTYPE html>
<html ng-app="githubbattle">
<head>
    <meta charset="utf-8" />
    <title>GitHub Battle</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.3.x" src="https://code.angularjs.org/1.3.15/angular.js" data-semver="1.3.15"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body ng-controller="MainController">
<div>
    <div class="row">
        <div class="col-md-12"><h1 class="text-center">GitHub Battle</h1></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
    <div class="col-md-6">
        <form name="searchUser"  class="text-center">
            <input type="search" placeholder="Player 1" ng-model="player1input" /> vs
            <input type="search" placeholder="Player 2" ng-model="player2input" />
            <input type="submit" value="Battle!!" ng-click="search(player1input,player2input)"/>
        </form>
        <div class="col-md-2"></div>

        <div class="col-md-4">
            <h2   class="text-center">{{ player1.name }}</h2>
            <img ng-src="{{player1.avatar_url}}" title="{{player1.name}}" alt="{{player1.name}}" width="100px" height="100px" border="none">
            <p class="ng-hide">Location: {{player1.location}}</p>
            <p class="ng-hide">Public Repos: {{player1.public_repos}}</p>
            <p class="ng-hide">Public Gists:  {{player1.public_gists}}</p>
            <p class="ng-hide">Followers:  {{player1.followers}}</p>
            <p class="ng-hide">Create Date:  {{player1.created_at}}</p>
        </div>
        <div class="col-md-4">
            <h2 class="text-center">{{ player2.name}}</h2>
            <img ng-src="{{player2.avatar_url}}" title="{{player2.name}}" alt="{{player2.name}}" width="100px" height="100px" border="none">

            <p class="ng-hide" ng-value="{{player2.location}}">Location: {{player2.location}}</p>
            <p class="ng-hide">Public Repos: {{player2.public_repos}}</p>
            <p class="ng-hide">Public Gists:  {{player2.public_gists}}</p>
            <p class="ng-hide">Followers:  {{player2.followers}}</p>
            <p class="ng-hide">Create Date:  {{player2.created_at}}</p>

        </div>
        <div class="col-md-3"></div>
    </div>
        <div class="col-md-3"></div>
    </div>




</div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>
